includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - src/
        - config/
        - database/
        - routes/
    databaseMigrationsPath:
        - database/migrations/
        - vendor/orchestra/testbench-core/laravel/migrations/
    level: 5
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model::#'
