.card {
    background-color: #fff;
    border-radius: map-get($settings, 'border-radius');
    box-shadow: map-get($settings, 'box-shadow');

    &__footer {
        padding: 1.15rem 1.5rem;
        background-color: rgba(0,0,0,0.02);
        border-radius: 0 0 map-get($settings, 'border-radius') map-get($settings, 'border-radius');
        line-height: 1.35;

        > *:last-child {
            margin-bottom: 0;
        }
    }

    &__inner {
        padding: 1.5rem;
    }

    &__header {
        padding: 0.2rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        min-height: 56px;

        > * {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

        &__title {
            font-size: 1rem;
            color: map-get($colors, 'dark-gray');
        }

    &.is-sticky {
        position: sticky;
        top: 2rem;
    }

    &.has-full-height {
        height: 100%;
    }

    &.is-quick-action .card__inner {
        padding: 1.5rem;
    }

    &.is-widget {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: space-between;

        .card__inner {
            padding: 1rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .card__inner-title {
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0 0 0.4rem;
            color: map-get($colors, 'dark-gray');
        }

        .card__inner-data {
            color: map-get($colors, 'dark-gray');
            font-weight: 600;
            font-size: 1.8rem;
            margin: 0;
            line-height: 1.2;
        }

        .card__footer {
            padding: 0.7rem 1rem;
            border-top: 1px solid map-get($colors, 'light-gray');
            color: map-get($colors, 'dark-gray');
        }

    }

    &.is-primary {
        background-color: map-get($colors, 'primary');

        .card__inner-title,
        .card__footer,
        .card__inner-data {
            color: #fff;
        }

        .card__footer {
            border-color: rgba(255,255,255,0.1);
            background-color: darken(map-get($colors, 'primary'), 10%);

            a {
                color: #fff;
            }
        }
    }
}