.app {
    $sidebar-width: 280px;
    $body-max-width: 1400px;

    &__header {
        width: calc(100% - #{$sidebar-width});
        position: fixed;
        top: 0;
        right: 0;
        left: $sidebar-width;
        height: 75px;
        z-index: 10;
    }

    &__sidebar {
        @include media-breakpoint-up(lg) {
            width: $sidebar-width;
            min-height: calc(100vh - 5rem);
            position: fixed;
            top: 2.5rem;
            bottom: 2.5rem;
            left: 0;
            z-index: 20;
        }
    }

    &__main {
        @include media-breakpoint-up(lg) {
            width: calc(100% - #{$sidebar-width});
            margin: 0 0 0 $sidebar-width;
        }
    }

    &__body {
        padding: 1.5rem;
        max-width: $body-max-width;
        margin: 0 auto;

        @include media-breakpoint-up(lg) {
            padding: 2.5rem;
        }
    }


    &.has-modal-open--body,
    &.has-modal-open--sidebar {
        .app__main {
            position: relative;
            z-index: 100;
        }
    }

    &.has-modal-open--body {
        .form__body {
            z-index: 10;
        }

        .form__sidebar {
            z-index: 5;
        }
    }

    &.has-modal-open--sidebar {
        .form__body {
            z-index: 5;
        }

        .form__sidebar {
            z-index: 10;
        }
    }
}

.app-toast-bar {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 10;
}
