.uploader-item {
    background-color: map-get($colors, 'light-gray');
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1.5rem;
    height: 100%;

    &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    &__progress {
        height: 1rem;
        border-radius: map-get($settings, 'border-radius');
        background: linear-gradient(45deg, map-get($colors, 'primary'), adjust-hue(map-get($colors, 'primary'),25deg));
    }
}

.media-item {
    position: relative;
    height: 100%;

    &.is-document {
        background-color: map-get($colors, 'light-gray');
        display: flex;
        align-items: center;
        justify-self: center;
        justify-content: center;
    }

    &.is-selected {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            box-shadow: 0 0 0 5px map-get($colors, 'primary') inset;
        }
    }

    &__caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
        line-height: 1.25;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
        cursor: default;

        .icon {
            width: 2rem;
            height: 2rem;
            margin-bottom: 0.5rem;
            color: rgba(0,0,0,0.1);
        }
    }

    img {
        width: 100%;
        user-select: none;
    }
}

.media-sidebar {
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    height: 100%;
    position: relative;
    z-index: 1;
    font-size: 0.9rem;
    color: map-get($colors, 'dark-gray');

    &::before {
        content: '';
        position: absolute;
        top: -1rem;
        right: -1rem;
        bottom: -1rem;
        left: 0.5rem;
        z-index: -1;
        background-color: map-get($colors, 'light-gray');
    }

    > * + * {
        padding-top: 2rem;
        border-top: 1px dashed rgba(0,0,0,0.1);
        margin-top: 2rem;
    }

    &__title {
        text-transform: uppercase;
        font-size: 0.9rem;
        margin: 0 0 1rem;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        > li + li {
            margin-top: 0.5rem;
        }

        li {
            line-height: 1.25;
        }
    }
}

.selected-media-item {
    position: relative;

    &:hover {
        .selected-media-item__remove {
            opacity: 1;
        }
    }

    &__remove {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background-color: rgba(map-get($colors, 'danger'), 0.8);
        padding: 0;
        border: none;
        border-radius: map-get($settings, 'border-radius');
        width: 1.4rem;
        height: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: 0.15s ease;

        &:hover {
            background-color: map-get($colors, 'danger');
        }

        .icon {
            width: 1rem;
            height: 1rem;
            color: #fff;
        }
    }

    &__document {
        background-color: map-get($colors, 'light-gray');
        display: flex;
        align-items: center;
        justify-self: center;
        justify-content: center;
        border-radius: map-get($settings, 'border-radius');

        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        .icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-bottom: 0.5rem;
            color: rgba(0, 0, 0, 0.1);
        }
    }
}

.modal-content {
    &.has-active-dropzone {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 5;
            background-color: rgba(map-get($colors, 'primary'), 0.35);
            border: 5px dashed map-get($colors, 'primary');
            pointer-events: none;
        }

        &::after {
            content: attr(data-dropzone-text);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            color: #fff;
            font-weight: 700;
            text-shadow: 0 0 5px rgba(0,0,0,0.2);
            pointer-events: none;
        }
    }
}

.media-accordions {
    > * + * {
        margin-top: 1rem;
        border-top: 1px solid #efefef;
        padding-top: 1rem;
    }
}

.media-accordion {
    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    &__title {
        font-size: 0.9375rem;
        font-weight: 400;
        margin: 0;
    }

    &__image {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: map-get($settings, 'border-radius');
        margin-right: 0.3rem;
    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.3rem;
        color: map-get($colors, 'medium-gray');
    }

    &__content {
        display: none;

        &.is-open {
            display: block;
        }
    }
}