.modal {
    background-color: rgba(0, 0, 0, 0.7);
    display: block;

    &-body {
        display: flex;

        .container-fluid > .form-row {
            height: 100%;
        }
    }
}

.modal-full-screen {
    width: 100%;
    min-width: calc(100% - 3.5rem);
    max-width: calc(100% - 3.5rem);

    & .modal-content {
        height: 100%;
    }
}

.modal-help-text {
    color: lighten(map-get($colors, 'dark-gray'), 10%);
    font-style: italic;
}