.ql-toolbar.ql-snow {
    border-top: 1px solid map-get($colors, 'border');
    border-right: 1px solid map-get($colors, 'border');
    border-bottom: 0;
    border-left: 1px solid map-get($colors, 'border');
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0.5rem;
}

.ql-container {
    height: auto;
    border-radius: 0 0 0.25rem 0.25rem;
    font-family: map-get($fonts, 'primary');
    padding: 1rem;

    .ql-editor {
        height: 120px;
        padding: 0;
    }
}

.ql-snow.ql-toolbar button:hover, 
.ql-snow .ql-toolbar button:hover, 
.ql-snow.ql-toolbar button:focus, 
.ql-snow .ql-toolbar button:focus, 
.ql-snow.ql-toolbar button.ql-active, 
.ql-snow .ql-toolbar button.ql-active, 
.ql-snow.ql-toolbar .ql-picker-label:hover, 
.ql-snow .ql-toolbar .ql-picker-label:hover, 
.ql-snow.ql-toolbar .ql-picker-label.ql-active, 
.ql-snow .ql-toolbar .ql-picker-label.ql-active, 
.ql-snow.ql-toolbar .ql-picker-item:hover, 
.ql-snow .ql-toolbar .ql-picker-item:hover, 
.ql-snow.ql-toolbar .ql-picker-item.ql-selected, 
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: map-get($colors, 'primary');
}