.dropdown.more-actions {
    width: 1.5rem;

    .icon {
        color: map-get($colors, 'medium-gray');;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.table-preview-image {
    width: 2rem;
    height: 2rem;
    border-radius: map-get($settings, 'border-radius');
}

.table-sort-btn {
    padding: 0;
    border: none;
    background-color: transparent;

    svg {
        width: 1.25rem;
        height: 1.25rem;
        color: map-get($colors, 'medium-gray');
        position: relative;
        top: -0.1rem;
    }
}

.table {
    &.vertical-align-top {
        th,
        td {
            vertical-align: top;
        }
    }
}