.notification-card {
    background-color: #fff;
    border-radius: map-get($settings, 'border-radius');
    box-shadow: map-get($settings, 'box-shadow');
    display: flex;

    &.is-primary {
        .notification-card__icon {
            background-color: map-get($colors, 'primary');
        }
    }

    &__icon {
        width: 4rem;
        color: #fff;
        background-color: map-get($colors, 'medium-gray');
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: map-get($settings, 'border-radius') 0 0 map-get($settings, 'border-radius');

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    &__content {
        padding: 1.5rem 2rem;
        width: calc(100% - 4rem);
    }

        &__title {
            font-size: 1.2rem;
            color: map-get($colors, 'dark-gray');
        }

        &__description {
            > * {
                margin: 0;
            }

            > * + * {
                margin-top: 0.5rem;
            }
        }
}