$colors: (
    "primary": #1382f9,
    "secondary": #fc025a,
    "black": #3e414c,
    "light-gray": #f5f5fc,
    "medium-gray": #a8abb8,
    "dark-gray": #434651,
    "success": #34DB7C,
    "info": #3D98FA,
    "danger": #DD4646,
    "warning": #e4cc21,
    "border": #bdc5ce,
    "body": #3d3d3d
);

$fonts: (
    "primary": #{'Poppins', sans-serif}
);

$settings: (
    "border-radius": 0.25rem,
    "box-shadow":  #{0 5px 25px 0 rgba(42, 51, 83, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05)},
);
