.app-logo-wrapper {
    height: 40px;
    display: flex;
    padding: 0 2.5rem;
}

    .app-logo {
        display: inline-block;
        display: flex;
        align-items: center;

        img {
            height: 20px;
            width: auto;
        }
    }

.app-sidebar {
    @include media-breakpoint-down(md) {
        &:not(.is-open) {
            visibility: hidden;
        }

        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1100;
        min-width: 15rem;
        max-width: 25rem;
        background: linear-gradient(45deg, map-get($colors, 'light-gray'), #fff);
        box-shadow: map-get($settings, 'box-shadow');
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    &__inside {
        padding: 0 2.5rem;
        margin: 1.5rem 0;
        overflow-y: auto;
        min-height: 300px;
        height: calc(100vh - 5rem - 40px - 60px);

        @include media-breakpoint-up(lg) {
            height: calc(100vh - 5rem - 40px - 60px - 1.5rem - 1.5rem);
        }
    }

    &__title {
        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: map-get($colors, 'medium-gray');
        padding-top: 0.75rem;
        margin-bottom: 0.5rem;
    }

    &__footer {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 2.5rem;
    }
}

.app-sidebar-menu {
    padding: 0;
    margin: 0;
    list-style: none;

    &-item {
        .app-sidebar-submenu {
            display: none;
        }

        &.is-open {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0.25rem;
                bottom: 0;
                left: -2.5rem;
                width: 4px;
                background-color: map-get($colors, 'primary');
            }

            .app-sidebar-submenu {
                display: block;
            }

            .app-sidebar-menu-link {
                text-decoration: none;
                color: map-get($colors, 'dark-gray');

                .app-sidebar-menu-link__icon {
                    color: map-get($colors, 'primary');
                }
            }
        }
    }
}


.app-sidebar-menu-link {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: map-get($colors, 'dark-gray');
    font-weight: 600;
    font-size: 0.9375rem;

    &:hover,
    &:focus,
    &.is-active {
        text-decoration: none;
        color: map-get($colors, 'dark-gray');

        .app-sidebar-menu-link__icon {
            color: map-get($colors, 'primary');
        }
    }

    &__icon {
        display: inline-flex;
        margin-right: 0.6rem;
        color: rgba(0,0,0,0.2);

        svg {
            height: 22px;
            width: 22px;
        }
    }
}

.app-sidebar-submenu {
    padding: 0;
    margin: 0 0 0.5rem 1rem;
    list-style: none;

    > * + * {
        margin-top: 0.2rem;
    }
}

    .app-sidebar-submenu-link {
        padding: 0.3rem 1rem;
        display: block;
        border-radius: map-get($settings, 'border-radius');
        color: map-get($colors, 'dark-gray');

        &:hover {
            background: rgba(map-get($colors, 'primary'), 0.15);
            color: map-get($colors, 'primary');
            text-decoration: none;
        }

        &.is-active {
            background: rgba(map-get($colors, 'primary'), 0.15);
            color: map-get($colors, 'primary');
            font-weight: 700;
            text-decoration: none;
        }
    }


.loggedin-user {
    color: map-get($colors, 'dark-gray');
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    background: transparent;
    border: none;

    &__welcome {
        margin-right: 0.3rem;
    }

    &__name {
        font-weight: 700;
        margin-right: 0.5rem;
    }

    &__avatar {
        height: 2rem;
        width: 2rem;
        border-radius: map-get($settings, 'border-radius');
    }
}
