.app-header {
    padding: 0 0 2rem;
    margin: 0 0 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: map-get($colors, 'dark-gray');

    &__title {
        font-size: 1.45rem;
        margin: 0;
        display: flex;
        align-items: center;

        .icon {
            color: rgba(0,0,0,0.2);
            margin-right: 0.5rem;
            width: 1.7rem;
            height: 1.7rem;
        }
    }

    &__breadcrumb {
        overflow-x: auto;

        .breadcrumb {
            white-space: nowrap;
            flex-wrap: nowrap;
        }
    }
}